[Unit]
Description=consul-template
Requires=network-online.target
After=network-online.target consul.service

[Service]
EnvironmentFile=-/etc/sysconfig/consul-template
Restart=on-failure
ExecStart=/usr/bin/consul-template -config=/etc/consul-template.d
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target